:root {
  /* Color */
  --color-modern-black: #494a44;
  --color-white: #fffffb;
  --color-light-grey: #f9f9f9;
  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Animation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

/* Top */
.top {
  background-color: rgba(73, 74, 68, 0.9);
}

/* Menu */
#menu {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  transition: all var(--animation-duration);
}

.menu__title {
  font-weight: 900;
  color: var(--color-white);
  font-size: var(--font-medium);
  transition: color var(--animation-duration);
}

.menu__title:hover {
  color: tomato;
  cursor: pointer;
}

.menu__list {
  display: flex;
}

.menu__list .list__item {
  padding: 12px 24px;
  border-radius: 4px;
  font-size: var(--font-small);
  transition: background-color var(--animation-duration);
}

.menu__list .list__item:hover {
  background-color: tomato;
  cursor: pointer;
}

.menu__toggle {
  position: absolute;
  background: none;
  right: 50px;
  font-size: var(--font-medium);
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
}

.home__img {
  margin: 50px 0;
  width: 350px;
  height: 350px;
  border-radius: 4px;
}

.home__title {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-large);
}

.home__description {
  margin: 36px 0;
  font-size: var(--font-regular);
  text-align: center;
}

.home__btn {
  cursor: pointer;
  padding: 12px;
  font-size: var(--font-medium);
  background-color: var(--color-modern-black);
  border-radius: 4px;
  color: var(--color-white);
  transition: background-color var(--animation-duration);
}

.home__btn:hover {
  background-color: tomato;
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px auto;
  width: 50%;
}

.about__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-large);
}

.about__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__description {
  color: var(--color-modern-black);
  font-size: var(--font-regular);
}

.about__education {
  display: flex;
  padding: 48px 0;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.education__logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 24px;
}

.education__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.education__info .info__title {
  font-size: var(--font-regular);
  font-weight: 900;
}
.education__info .info__description {
  font-size: var(--font-small);
  color: var(--color-morden-black);
}

/* Skill */
#skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-grey);
  padding: 36px;
}

.skill__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-large);
}

.skill__sub-title {
  margin: 0;
  color: var(--color-modern-black);
}

.skill__list {
  display: flex;
  margin: 0;
  padding: 48px;
}

.skill__list .list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.skill__list .list__item .item__icon {
  background-color: gray;
  width: 150px;
  height: 150px;
  line-height: 180px;
  text-align: center;
  border-radius: 50%;
}

.skill__list .list__item .item__icon i {
  font-size: 64px;
  color: white;
  transition: all var(--animation-duration);
}

.skill__list .list__item .item__icon i:hover {
  color: tomato;
  transform: scale(1.1);
  cursor: pointer;
}

.skill__list .list__item .item__title {
  margin: 24px 0;
  font-size: var(--font-medium);
  color: var(--color-modern-black);
  font-weight: 900;
}

.skill__list .list__item .item__description {
  text-align: center;
  color: var(--color-modern-black);
  font-size: var(--font-regular);
  width: 75%;
}

/* Project */
#project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
}

.project__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-large);
}

.project__sub-title {
  margin: 0;
  color: var(--color-modern-black);
}

.project__list {
  display: flex;
  padding: 48px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.project__list .list__item {
  position: relative;
  margin: 12px;
}

.project__list .list__item .item__img {
  width: 300px;
  height: 225px;
  border-radius: 4px;
}

.project__list .list__item .item__description {
  position: absolute;
  top: 0;
  text-align: center;
  background-color: rgba(73, 74, 68, 0.5);
  width: 300px;
  height: 225px;
  line-height: 225px;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: 900;
  border-radius: 4px;
  opacity: 0;
  transition: opacity var(--animation-duration);
}

.project__list .list__item .item__description:hover {
  opacity: 1;
  cursor: pointer;
}

/* Contact */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-grey);
  padding: 36px;
}

.contact__title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-large);
}

.contact__email {
  margin: 12px 0;
  font-size: var(--font-medium);
  font-weight: 900;
  color: var(--color-modern-black);
}

.contact__github i {
  font-size: 48px;
  color: black;
  transition: transform var(--animation-duration);
}

.contact__github i:hover {
  transform: scale(1.1);
}

.create {
  margin: 12px 0;
  font-size: var(--font-micro);
  color: grey;
}

/* responsive */
@media screen and (max-width: 768px) {
  /* Menu */
  .menu__toggle {
    display: block;
  }
  .menu__toggle:hover {
    cursor: pointer;
  }
  #menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
  }
  .menu__list {
    flex-direction: column;
    width: 100%;
    padding: 0;
    text-align: center;
    animation: fadein 1s;
    display: none;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #menu.active {
    background-color: rgba(73, 74, 68, 0.9);
  }
  .menu__list.active {
    display: block;
  }
  /* Project */
  .project__list .list__item .item__img {
    width: 250px;
    height: 175px;
  }
  .project__list .list__item .item__description {
    width: 250px;
    height: 175px;
    line-height: 175px;
  }
}
